@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* almarai-regular - arabic */
  @font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('../fonts/Almarai-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 700;
    src: local(''),
      url('../fonts/Almarai-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 900;
    src: local(''),
      url('../fonts/Almarai-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 100;
    src: local(''),
      url('../fonts/Almarai-Light.ttf') format('truetype'), /* Safari, Android, iOS */
  }

  * {
    font-family: "Almarai", "Open Sans", sans-serif;
  }
}
